@font-face {
    font-family: "Coolvetica";
    src: url("./Fuente/Coolvetica\ Rg.otf");
    font-display: swap;
}

@font-face {
    font-family: "Lined";
    src: url("./Fuente/Lined.ttf");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Lined", sans-serif;
}

.header {
    font-family: "Coolvetica";
    position: absolute;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    background-color: #0E021F;
    border-bottom: 0.5px solid #FFF;
    z-index: 1000;
    padding-left: 30px;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-right: 40px;
}

.nav_logo {
    color: #FFF;
    font-size: 40px;
    text-decoration: none;
    transition: color 0.4s;
}

.nav_logo:hover {
    color: beige;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.nav_list a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}

.nav_list a:hover {
    color: beige;
}

.nav_list img {
    margin-top: 13px;
    height: 40px;
    transition: transform 0.3s;
}

.nav_list img:hover {
    transform: scale(1.1);
}

.container {
    position: relative;
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    margin: auto;
    row-gap: 20px;
}

.con1 {
    width: 50%;
    text-align: center;
    background-color: #ffffff;
    color: #1e0f2b;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.con2 {
    width: 50%;
    text-align: center;
    background-color: #0E021F;
    color: #1e0f2b;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.con1 .Titulo {
    margin-top: 20px;
    font-family: "Coolvetica";
    font-weight: lighter;
    font-size: 45px;
    margin-bottom: 20px;
}

.con2 .Titulo{
    margin-top: 20px;
    font-family: "Coolvetica";
    font-weight: lighter;
    font-size: 45px;
    margin-bottom: 20px;
    color: #fff;
}

.Imagen_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Img img {
    width: auto;
    height: 600px ;
}


.con1 .click_Aqui{
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background-color: #0E021F;
    height: 50px;
    width: auto;
    font-weight: bold;
}

.con1 .click_Aqui a{  
    font-size: 20px;
    text-decoration: none;
    color: white;
}


.con2 .click_Aqui{
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background-color: #fff;
    height: 50px;
    width: auto;
    font-weight: bold;
}

.con2 .click_Aqui a{  
    font-size: 20px;
    text-decoration: none;
    color: #0E021F;
}

.con1 .click_Aqui:hover{
    background-color: #49326a;
}

.con2 .click_Aqui:hover{
    background-color: #f6e6fc;
}
/*------------------Parte del Responsive-------------------*/
.nav_toggle {
    display: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 1001;
}

.nav_toggle img {
    width: 100%;
}

.nav_close {
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    z-index: 1001;
}

.nav_close img {
    width: 100%;
}

.nav_text {
    display: none;
    font-size: 1rem;
    color: white;
    text-align: center;
    margin-top: 5px;
}

/* -------------- Responsive -------------- */
@media screen and (max-width: 1150px) {
    .header {
        height: 60px;
        padding: 5px 0px 0px 25px;
    } 

    .nav {
        height: 50px;
        position: relative;
    }

    .nav_logo {
        font-size: 35px;
    }

    .nav_menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100%;
        background-color: rgba(14, 2, 31, 0.95);
        flex-direction: column;
        justify-content: flex-start; 
        align-items: flex-start; 
        padding: 50px 0px 0px 25px;
        transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out; 
        border-left: 1px solid #FFF;
        opacity: 0;
    }

    .nav_menu.show_menu {
        right: 0;
        opacity: 1;
    }

    .nav_toggle {
        display: block;
        opacity: 1;
        transform: scale(1);
    }
    
    .nav_menu.show_menu ~ .nav_toggle {
        display: none;
        opacity: 0;
    }
    

    .nav_menu.show_menu .nav_close {
        display: block;
    }

    .nav_list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        gap: 1rem;
        padding-left: 20px; 
        width: 100%;
    }
    
    .nav_link {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding-left: 0; 
    }
    
    .nav_link img {
        height: 40px;
    }
    
    .nav_text {
        display: block;
        font-size: 18px;
        padding: 5px 0px 0px 10px;
        color: white;
    }
}
