@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="icon" href="~/imagenes/Codex-Logo.png" />
    <link rel="stylesheet" href="~/css/style.css" />
    <title>Codex | Inicio</title>
</head>
<body>
    <!-- HEADER -->
    <header class="header" id="header">
        <nav class="nav_container">
            <a href="@Url.Action("Index", "Home")" class="nav_logo">Codex</a>
            <div class="nav_menu" id="nav_menu">
                <div class="nav_close" id="nav_close">
                    <img src="~/imagenes/circulo-marca-x (1).png" alt="Cerrar menú" />
                </div>

                <ul class="nav_list">
                    <li>
                        <a href="#" class="nav_link">
                            <img src="~/imagenes/carro-de-la-carretilla.png" alt="Carrito" class="nav_icon" />
                            <span class="nav_text">Compra</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Favoritos" asp-action="Favoritos" class="nav_link">
                            <img src="~/imagenes/me-gusta.png" alt="Favoritos" class="nav_icon" />
                            <span class="nav_text">Favoritos</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="Auth" class="nav_link">
                            <img src="@Url.Content("~/imagenes/usuario-extranjero (1).png")" alt="Iniciar sesión" class="nav_icon" />
                            <span class="nav_text">Iniciar Sesión</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="nav_toggle" id="nav_toggle">
                <img src="~/imagenes/menu (2).png" alt="Abrir menú" />
            </div>
        </nav>
    </header>

    <!-- MAIN -->
    <main class="main">
        <section class="container">
            <div class="con1">
                <h1 class="Titulo">Guíame desde cero</h1>
                <div class="Imagen_Container">
                    <div class="Img">
                        <img src="~/imagenes/Mobile note list-pana.png" alt="Asistencia desde cero" />
                        <button class="click_Aqui" id="openNew">Te ayudaré con eso</button>
                    </div>
                </div>
            </div>

            <div class="con2">
                <h1 class="Titulo">Ya tengo algo en mente</h1>
                <div class="Imagen_Container">
                    <div class="Img">
                        <img src="~/imagenes/Mobile UI-UX-amico.png" alt="Idea previa" />
                        <button class="click_Aqui" id="openOld">Sigamos con el proceso</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal: Guíame desde cero -->
        <div id="form_modal" class="modal hidden">
            <div class="modal_content">
                <span id="close_modal" class="close">&times;</span>
                <div class="modal_body">
                    <div class="image_side">
                        <img src="~/imagenes/image-removebg-preview (5).png" alt="Asistencia" />
                    </div>
                    <div class="form_side">
                        <h2>Te ayudamos desde cero</h2>
                        <form method="post" asp-controller="Recomendacion" asp-action="Formulario">
                            <label for="UsoPrincipal">¿Para qué necesitas la computadora?</label>
                            <select id="UsoPrincipal" name="UsoPrincipal" required>
                                <option value="">-- Selecciona una opción --</option>
                                <option value="7">Gamer: (juegos de última o media generación)</option>
                                <option value="1">Uso Personal: YouTube, redes sociales, videollamadas</option>
                                <option value="2">Estudiante: trabajos, clases, investigación</option>
                                <option value="3">Programación o desarrollo de software</option>
                                <option value="4">Diseño gráfico: Photoshop, Illustrator, arte</option>
                                <option value="5">Edición de video: Premiere, After Effects, DaVinci</option>
                                <option value="6">Arquitectura, animación 3D, CAD, simulación</option>
                            </select>

                            <label>¿Qué tipo de equipo prefieres?</label>
                            <select name="NecesitaPortabilidad" required>
                                <option value="">-- Selecciona una opción --</option>
                                <option value="false">Computador de Mesa</option>
                                <option value="true">Portátil</option>
                            </select>


                            <label>¿Usas muchas cosas al mismo tiempo?</label>
                            <select name="RealizaMultitareaPesada" required>
                                <option value="">-- Elige una opción --</option>
                                <option value="true">Sí, suelo tener Zoom, Word, navegador, etc. al mismo tiempo</option>
                                <option value="false">No, una cosa a la vez me basta</option>
                            </select>

                            <label>¿Vas a usar programas que requieren buena calidad de imagen?</label>
                            <select name="UsaProgramasGraficos" required>
                                <option value="">-- Elige una opción --</option>
                                <option value="true">Sí, uso diseño, edición o juegos</option>
                                <option value="false">No, nada muy exigente en imagen o video</option>
                            </select>

                            <label for="Presupuesto">¿Cuál es tu presupuesto máximo? (COP)</label>
                            <input type="number" name="Presupuesto" id="Presupuesto" required min="100000" max="99000000" step="100000" />


                            <!-- Personalización -->
                            <div class="form-group">
                                <label>¿Quieres personalizar más tu experiencia?</label>
                                <select name="DeseaPersonalizar" class="form-control">
                                    <option value="">-- Elige una opción --</option>
                                    <option value="true">Sí, quiero más control y detalles técnicos</option>
                                    <option value="false">No, solo quiero una recomendación sencilla</option>
                                </select>
                            </div>
                            <!-- Sección personalizada (se oculta hasta que el usuario diga que "no") -->
                            <div id="seccionPersonalizada" style="display: none; margin-top: 30px;">
                                <hr />
                                <h4 class="text-muted">Personalización avanzada</h4>

                                <div class="form-group mt-3">
                                    <label>¿Tienes una marca preferida?</label>
                                    <select class="form-control" name="MarcaPreferida">
                                        <option value="">-- No tengo preferencia --</option>
                                        <option>HP</option>
                                        <option>ASUS</option>
                                        <option>Dell</option>
                                        <option>Acer</option>
                                        <option>Lenovo</option>
                                        <option>Apple</option>
                                    </select>
                                </div>

                                <div class="form-group mt-3">
                                    <label>¿Qué tamaño de pantalla prefieres?</label>
                                    <select class="form-control" name="TamanoPantalla">
                                        <option value="">-- Cualquiera está bien --</option>
                                        <option>13 pulgadas o menos (ultraportátil)</option>
                                        <option>14-15 pulgadas (equilibrada)</option>
                                        <option>16 pulgadas o más (experiencia visual)</option>
                                    </select>
                                </div>

                                <div class="form-group mt-3">
                                    <label>¿Cuánta duración de batería necesitas como mínimo?</label>
                                    <select class="form-control" name="DuracionBateria">
                                        <option value="">-- Cualquiera está bien --</option>
                                        <option>4 horas</option>
                                        <option>6 horas</option>
                                        <option>8 horas o más</option>
                                    </select>
                                </div>

                                <div class="form-group mt-3">
                                    <label>¿Te gustaría que tenga teclado retroiluminado?</label>
                                    <select class="form-control" name="TecladoRetroiluminado">
                                        <option value="">-- No importa --</option>
                                        <option value="true">Sí, lo prefiero</option>
                                        <option value="false">No es necesario</option>
                                    </select>
                                </div>

                                <div class="form-group mt-3">
                                    <label>¿Qué tipo de almacenamiento prefieres?</label>
                                    <select class="form-control" name="TipoAlmacenamiento">
                                        <option value="">-- Cualquiera --</option>
                                        <option>SSD (rápido)</option>
                                        <option>HDD (más económico)</option>
                                        <option>Ambos</option>
                                    </select>
                                </div>
                            </div>
                           

                            <div class="button">
                                <button type="submit">Recomiéndame</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <script>
            const slider = document.getElementById("sliderPresupuesto");
            const output = document.getElementById("valorPresupuesto");
            const seccionPersonalizada = document.getElementById("seccionPersonalizada");
            const selectorPersonalizacion = document.querySelector("select[name='DeseaPersonalizar']");

            function formatCOP(value) {
                return '$' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }

            function updateLabel() {
                output.textContent = formatCOP(slider.value);
            }

            slider.addEventListener("input", updateLabel);
            window.onload = updateLabel;

            selectorPersonalizacion.addEventListener("change", function () {
                if (this.value === "true") {
                    seccionPersonalizada.style.display = "block";
                } else {
                    seccionPersonalizada.style.display = "none";
                }
            });
        </script>


        <!-- Modal: Ya tengo una idea -->
        <div id="form_modalOld" class="modal hidden">
            <div class="modal_content">
                <span id="close_modalOld" class="close">&times;</span>
                <div class="modal_body">
                    <div class="image_side">
                        <img src="~/imagenes/image-removebg-preview (5).png" alt="Asistencia" />
                    </div>
                    <div class="form_side">
                        <h2>Cuéntanos tu idea</h2>
                        <form>
                            <label for="modelo_idea">¿Qué computadora tenías en mente?</label><br />
                            <input type="text" id="modelo_idea" name="modelo_idea" />

                            <label for="razon_idea">¿Por qué tenías en mente esta computadora?</label><br />
                            <select id="razon_idea" name="razon_idea" required>
                                <option value="">-- Selecciona una opción --</option>
                                <option value="trabajo">Trabajar</option>
                                <option value="estudio">Estudiar</option>
                                <option value="jugar">Jugar</option>
                                <option value="diseno">Diseño gráfico</option>
                                <option value="otros">Otros</option>
                            </select>

                            <label for="tipo_equipo_idea">¿Qué tipo de equipo prefieres?</label><br />
                            <select id="tipo_equipo_idea" name="tipo_equipo" required>
                                <option value="">-- Selecciona una opción --</option>
                                <option value="PC">Computador de Mesa</option>
                                <option value="Portatil">Portátil</option>
                            </select>

                            <div class="button">
                                <button type="submit">Recomiéndame</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section-about">
                <h2>Codex</h2>
                <p>
                    Este es un e-commerce de recomendación de computadores y portátiles
                    de acuerdo a la información que nos dé nuestro usuario.
                </p>
            </div>

            <div class="footer-section-links">
                <h2>Conexiones</h2>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Sobre nosotros</a></li>
                </ul>
            </div>

            <div class="footer-section-contact">
                <h2>Enlaces</h2>
                <ul>
                    <li><a href="https://github.com/Ariiadnee-06/Codex.git">GitHub</a></li>
                    <li><a href="https://samuelmachado1806sm.atlassian.net/jira/software/projects/CODEX/summary">Jira</a></li>
                    <li><p>IUPB - Ingeniería de Software</p></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Codex | Todos los derechos reservados</p>
        </div>
    </footer>

    <script src="~/js/main.js"></script>
</body>
</html>
